body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #dbeafe, #93c5fd);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #1e40af;
  margin-bottom: 30px;
}

/* PIPE */
.pipeline {
  position: relative;
  width: 1500px;
  height: 120px;
  background: #475569;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  margin: 0 auto 40px auto;
}

/* FLOWING WATER */
.water {
  position: absolute;
  top: 10%;
  left: 0;
  width: 200%;
  height: 80%;
  background: url("https://i.ibb.co/0fj3FZN/water-texture.png") repeat-x;
  background-size: 200% 100%;
  animation: flowWater 3s linear infinite;
  opacity: 0.9;
  border-radius: 60px;
  animation-play-state: paused;
}

@keyframes flowWater {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* LEAK SPRAY */
.leak {
  position: absolute;
  top: 50%;
  width: 8px;
  height: 0;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #60a5fa, #2563eb);
  border-radius: 4px;
  animation: spray 0.4s linear infinite;
  display: none;
}

@keyframes spray {
  0% { height: 0; opacity: 0.3; }
  50% { height: 120px; opacity: 1; }
  100% { height: 0; opacity: 0.3; }
}

/* SENSOR PANEL */
.panel {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: left;
}

.alert {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

/* BUTTONS */
.controls {
  margin-top: 20px;
}

button {
  padding: 10px 18px;
  margin: 6px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

button:hover {
  background: #1d4ed8;
}
.next-btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.next-btn:hover {
  background-color: #155ab6;
  transform: scale(1.05);
}
